resource "google_dialogflow_tool" "{{$.PrimaryResourceId}}" {
  location = "{{index $.ResourceIdVars "location"}}"
  display_name = "connector-tool"
  description = "A tool with Connector spec"
  connector_spec {
    name = "projects/{{$.Project}}/locations/us-central1/connections/test-connection"
    actions = []
  }
}
