resource "google_dialogflow_tool" "{{$.PrimaryResourceId}}" {
  location = "{{index $.ResourceIdVars "location"}}"
  display_name = "datastore-tool"
  description = "A tool with Data Store spec"
  data_store_spec {
    data_store_connections = []
    fallback_prompt {}
  }
}
